<!DOCTYPE html>
<html>

    <%- include('../includes/head') %>
    
    <body class="hold-transition skin-blue sidebar-mini">

        <div class="wrapper">

            <!-- The header is the topbar -->
            <%- include('../includes/header') %>

            <!-- The sidebar includes the menu -->
            <%- include('../includes/sidebar') %>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">

                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h3> Stock Settings </h3>
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i>Selector</a></li>
                        <li><a href="<%=`/manage/${guild.id}/`%>"><%=guild.name%></a></li>
                        <li class="active">Stocks</li>
                    </ol>
                </section>

                <section class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- STOCK TICKER CONFIGURATION -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Stock Tickers</h3>
                                </div>
                                <form role="form" action="/manage/<%= guild.id %>/stocks/" method="POST">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Target Tickers (Max 5)</label>
                                            <textarea class="form-control" name="tickers" rows="3" placeholder="Enter comma-separated stock tickers, e.g., AAPL, GOOG, MSFT"><%= guild.stock_tickers ? guild.stock_tickers.join(', ') : '' %></textarea>
                                            <p class="help-block">Enter up to 5 US stock market tickers, separated by commas.</p>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <button type="submit" name="stocksUpdate" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                            </div>
                            <!-- END: STOCK TICKER CONFIGURATION -->
                        </div>
                    </div>
                </section>
                
            </div>
            <!-- /.content-wrapper -->
            
            <%- include('../includes/footer') %>
        </div>
        <!-- ./wrapper -->
    </body>
</html>
